@*this is for  Login,registration and Forget password*@
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <link href="~/Content/Theam/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />


    <link href="~/Content/Theam/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet" />


    <link href="~/Content/Theam/dist/css/adminlte.min.css" rel="stylesheet" />
</head>
<body class="hold-transition register-page"
      @RenderBody()


    <script src="~/Content/Theam/plugins/bootstrap/js/bootstrap.min.js"></script>


    <script src="~/Content/Theam/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/Content/Theam/dist/js/adminlte.min.js"></script>
</body>

