


<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a class="brand-link">
        <span class="brand-text font-weight-light mx-4">AdminLTE 3</span>

        <h6 style="color:red" class="mx-4">@Session["Email"]</h6>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">


        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                @*<li class="nav-header">EXAMPLES</li>*@
                <li class="nav-item">
                    <a href="/Register/Details" class="nav-link">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                            Customer

                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/Country/Details" class="nav-link">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                            Country

                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/State/Details" class="nav-link">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                            State

                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/City/Details" class="nav-link">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                            City

                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Subject/Details" class="nav-link">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                            Subject

                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/Teacher/Details" class="nav-link">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                            Teacher

                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                            Pages
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="pages/examples/invoice.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Invoice</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/examples/profile.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Profile</p>
                            </a>
                        </li>
                    </ul>
                </li>


            </ul>
        </nav>

    </div>

</aside>

