
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form method="post" action="Display">
    <div>
        <label>Book Code</label>
        <input type="text" name="BookCode"/>
    </div>

    <div>
        <label>Book Name</label>
        <input type="text" name="BookName"/>
    </div>
    <button type="submit">Save</button>
</form>
