@model DropDowmList.Models.State

<option value="">--select State --</option>
@if(ViewBag.StateList != null)
            {
                foreach(var i in ViewBag.StateList)
                {
                    <option value="@i.Value">@i.Text</option>
                }
            }